@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.td-gap {
  padding-right: 16px;
}

/* start marque animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-marquee {
  animation: marquee 1.8s linear infinite;
  transition: transform 0.5s ease-in-out;
}

/* end marque animation */

.animate-queue:hover {
  box-shadow: 0px 4px 10px 0px #00000021;
}
.animate-queues {
  box-shadow: 2px 2px 6px 0px #00000024;
}